body {
	font-family: font-family: 'Open Sans Condensed', sans-serif;
	height: 100%;
	width: 100%;
}

.container {
	max-width: 960px;
	margin: auto;
}

h1 {
	font-weight: 700;
}

.movelink {
	margin-left: 5em;
}

.boldme {
	font-weight: bold;
}

.navlinks {
	list-style: none;
	margin-right: 1px;
	margin-top: 2em;
}

.mynav {
	display: inline;
	margin-top: .5em;
	background-color: white;
}

.resumesection {
	margin-top: 3em;
}

.fa {
	padding: 1em;
	color: black;
}

.footerbar {
	position: relative;
	/*bottom: 2em;*/
	width: 100%;
	margin-top: 15em;
}

.emailsp {
	margin-top: .7em;
}

.emailink {
	color: black;
}

.listme {
	width: 100%;
}

.emailink:hover {
	color: #F5602B;
	text-decoration: none;
}

.margyad {
	font-size: 1.5em;
	margin-top: 1em;
	text-align: left;
	margin-left: 3em;
	margin-bottom: -.5em;
}

.fa:hover {
	color: #F5602B;
}

#myresume {
	font-size: 1.3em;
}

#myresume img {
	width: 110%;
	height: 150%;
}

.bigT {
	font-size: 5em;
	font-weight: bold;
	padding-top: 2em;
}

.abouttext {
	text-align: left;
	width: 80%;
	margin: 0 auto;
	margin-top: 5em;
	word-wrap: break-word;
	line-height: 1.3em;
	font-size: 2.3em;
}

#myname {
	display: block;
	margin-left: 1em;
	/**/
	font-size: 4em; 
}

.navlinks li {
	float: left;
	padding: 0 0 0 .5em;
	font-size: 2em;
	font-weight: 100px;
}

.navlinks li a {
	text-decoration: none;
	 -webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	color: black;
}

/*h3 {
	font-size: 1.5em;
	margin-top: -.1em;
	font-weight: 300;
}*/

.logo h1 {

	width: 100%;
	margin: 0 auto;
	font-size: 10em;
}

.navlinks li a:hover {
	color: #F5602B;
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}

.pushname {
	display: block;
	padding-top: 15%;
}



#contact {
	font-size: 7em;
	margin-top: 1em;
	line-height: 1em;
}

#contact a {
	color: black;
	text-decoration: none;
	font-weight: 300;
}

#contact a:hover {
	color: #F5602B;

}






